body {
    margin: 0
}

header {
    background: gray;
    color: white;
    margin: 0;
    padding: 5px 15px 0px 15px;
}

header h1 {
    margin: 0;
    display: inline;
}

nav ul {
    margin: 0;
    padding: 0px 0px 0px 15px;
    display: inline;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    background-color: black;
    color: white;
    padding: 5px 15px;
}

nav ul li a {
    color: white;
}

.row{

}

.col{
    background-color: #333333;
    margin: 5px;
    padding: 20px;
    float: left;
    width: 29%;
}

footer{
    clear: both;
}