body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #434343;
}

a {
    color: green;
}

p {
    background: #666;
    color: white;
    padding: 10px 15px;
}

.secondary {
    background: none;
    color: #555555;
}

#nav {
    color: blue;
}